body {
    background-color: #333; /* Background color */
    color: white; /* Text color */
    font-family: 'Press Start 2P', sans-serif; /* Font */
    height: 100vh; /* Full height */
    display: flex; /* Flexbox for centering */
    flex-direction: column; /* Change to column layout */
}

.container {
    text-align: center; /* Center text */
    margin-top: 100px; /* Add top margin to push content down from the navbar */
}

.navbar {
    background-color: #070606; /* Dark background for the navbar */
}

.navbar .navbar-brand {
    color: white; /* Changed to white for better contrast */
}

.navbar .navbar-nav .nav-link {
    color: white; /* Changed to white for better contrast */
}

.navbar .navbar-nav .nav-link:hover {
    color: #e2ece2; /* Change link color on hover */
}

.navbar .navbar-toggler {
    border-color: white; /* Change border color of the toggler button */
}

.navbar .navbar-toggler-icon {
    background-color: white; /* Color for the toggler icon */
}

.btn {
    margin-top: 20px; /* Space between text and button */
}

.welcome-title {
    font-size: 3rem; /* Change font size */
    color: #ffcc00; /* Change text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow */
    font-weight: bold; /* Make the text bold */
    margin-bottom: 20px; /* Add space below the heading */
}

.login-42-button {
    background-color: #00babc; /* 42's brand color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.login-42-button:hover {
    background-color: #008c8c;
}